
.widgets {
    flex: 0.3;

  }
  
  .widgets__input {
    display: flex;
    align-items: center;
    background-color: var(--twitter-background);
    padding: 10px;
    border-radius: 20px;
    margin-top: 10px;
    margin-left: 20px;
  }
  
  .widgets__input > input {
    border: none;
    background-color: var(--twitter-background);
  }
  
  .widgets__searchIcon {
    color: gray;
  }
  
  .widgets__widgetContainer {
    margin-top: 15px;
    margin-left: 20px;
    padding: 20px;
    background-color: #000204;
    border-radius: 20px;
    border: 1px solid grey;
  }
  
  .subscribe{
    margin-top: 15px;
    margin-left: 20px;
    padding: 20px;
    background-color: #000204;
    border-radius: 20px;
    border: 1px solid grey;

  }
  .widgets__widgetContainer > h2 {
    font-size: 18px;
    font-weight: 800;
  }

.button{
 
    color: rgb(34, 186, 213);
    font-weight: 800 !important;
    text-transform: inherit !important;
    width: 80px;
    height: 40px !important;
    margin-top: 20px !important;
}